/* ========================================
   PAGE CONTENT
======================================== */

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background:
        linear-gradient(
            180deg,
            var(--background) 0%,
            var(--surface-low) 100%
        );
}
