:root {
  --font-family: "Noto Sans", sans-serif;
  --font-family-display: "Roboto Condensed", sans-serif;

  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 20px;
  --text-2xl: 28px;
}
