.dark {
  --md-sys-color-primary: rgb(174 205 197);
  --md-sys-color-surface-tint: rgb(174 205 197);
  --md-sys-color-on-primary: rgb(25 53 48);
  --md-sys-color-primary-container: rgb(46 74 68);
  --md-sys-color-on-primary-container: rgb(154 185 177);
  --md-sys-color-secondary: rgb(244 228 207);
  --md-sys-color-on-secondary: rgb(56 47 33);
  --md-sys-color-secondary-container: rgb(215 200 180);
  --md-sys-color-on-secondary-container: rgb(94 83 68);
  --md-sys-color-tertiary: rgb(255 182 147);
  --md-sys-color-on-tertiary: rgb(86 32 0);
  --md-sys-color-tertiary-container: rgb(209 122 77);
  --md-sys-color-on-tertiary-container: rgb(34 8 0);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(18 20 19);
  --md-sys-color-on-background: rgb(227 226 225);
  --md-sys-color-surface: rgb(18 20 19);
  --md-sys-color-on-surface: rgb(227 226 225);
  --md-sys-color-surface-variant: rgb(65 72 70);
  --md-sys-color-on-surface-variant: rgb(193 200 197);
  --md-sys-color-outline: rgb(139 146 144);
  --md-sys-color-outline-variant: rgb(65 72 70);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 226 225);
  --md-sys-color-inverse-on-surface: rgb(47 49 48);
  --md-sys-color-inverse-primary: rgb(71 100 93);
  --md-sys-color-primary-fixed: rgb(202 233 225);
  --md-sys-color-on-primary-fixed: rgb(2 32 27);
  --md-sys-color-primary-fixed-dim: rgb(174 205 197);
  --md-sys-color-on-primary-fixed-variant: rgb(48 76 70);
  --md-sys-color-secondary-fixed: rgb(240 224 204);
  --md-sys-color-on-secondary-fixed: rgb(34 26 14);
  --md-sys-color-secondary-fixed-dim: rgb(211 196 176);
  --md-sys-color-on-secondary-fixed-variant: rgb(79 69 54);
  --md-sys-color-tertiary-fixed: rgb(255 219 203);
  --md-sys-color-on-tertiary-fixed: rgb(52 16 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 182 147);
  --md-sys-color-on-tertiary-fixed-variant: rgb(118 51 11);
  --md-sys-color-surface-dim: rgb(18 20 19);
  --md-sys-color-surface-bright: rgb(56 57 57);
  --md-sys-color-surface-container-lowest: rgb(13 14 14);
  --md-sys-color-surface-container-low: rgb(26 28 27);
  --md-sys-color-surface-container: rgb(30 32 31);
  --md-sys-color-surface-container-high: rgb(41 42 42);
  --md-sys-color-surface-container-highest: rgb(52 53 52);
}
