* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--surface) inset !important;
  -webkit-text-fill-color: var(--on-surface) !important;
  transition: background-color 9999s ease-in-out 0s;
}
